:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  font-size: 80px;
  font-family: "Nunito", sans-serif;
  color: var(--blue);
  margin: 0px;
  text-decoration: none;
}

a span {
  color: var(--purple);
}

@media (max-device-width: 500px) {
  a {
    font-size: 50px;
  }
}
