a {
  font-size: 80px;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--blue);
  margin: 0px;
  text-decoration: none;
}

a span {
  color: var(--purple);
}
