<a href="{{ repository.html_url }}" target="_blank">{{ repository.name }}</a>
<p class="description">{{ repository.description }}</p>

<div class="container">
  <img class="icon" src="/icons/star_icon.svg" />
  <p>
    {{ repository.stargazers_count }}
  </p>
  <p class="separator-point">•</p>
  <p *ngIf="isSameDay(repository.updated_at); else isNotSameDay">
    Atualizado há
    {{ calculateHoursDifference(repository.updated_at) }} horas
  </p>

  <ng-template #isNotSameDay>
    <p>
      Atualizado há
      {{ calculateDaysDifference(repository.updated_at) }} dias
    </p>
  </ng-template>
</div>
