button {
  color: white;
  font-size: 18px;
  padding: 14px 58px;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--purple);
}

button:hover {
  background-color: var(--purple-200);
}
