form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 80px;
}

form input {
  width: 60%;
  padding: 10px 40px;
  margin-right: 24px;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--gray-200);
  border-width: 1px;
  border-radius: 8px;
  outline: none;

  font-size: medium;

  background-image: url("/icons/search_icon.svg");
  background-size: 18px 18px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

form input:focus {
  border-width: 2px;
  border-color: var(--purple);
}

form input::placeholder {
  font-size: medium;
  color: var(--gray-400);
}
